html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#gallery {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, (minmax(25rem, 1fr)));
  grid-gap: 1px;

  .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  }
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  background: rgba(0, 0, 0 , .5);
  width: 100%;
  height: 100%;
  pointer-events: none;

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.5);
    width: 85%;
    height: 100%;
    transition: transform .5s ease;;

    .modal-img {
      width: 100%;
      height: 100%;
      position: absolute;
    }

    .close-modal {
      position: absolute;
      color: crimson;
      font-size: 3rem;
      left: 95%;
      top: 3%;
      cursor: pointer;
  
      &:hover {
        color: red;
      }
    }
  }
}

.modal-container.open {
  opacity: 1;
  pointer-events: all;

  .modal {
    transform: translate(-50%, -50%) scale(1);
  }
}